@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&family=Roboto:wght@400;500&display=swap");
:root {
  --clr-primary-hsl: 4, 100%, 67%;
  --clr-dark-slate-grey-hsl: 234, 29%, 20%;
  --clr-sec-charcoal-grey-hsl: 235, 18%, 26%;
  --clr-sec-grey-hsl: 231, 7%, 60%;
  --clr-sec-white-hsl: 0, 0%, 100%;
  --clr-primary: var(--clr-primary-hsl);
  --clr-dark-slate-grey: hsl(var(--clr-dark-slate-grey-hsl));
  --clr-sec-charcoal-grey: hsl(var(--clr-sec-charcoal-grey-hsl));
  --clr-sec-grey: hsl(var(--clr-sec-grey-hsl));
  --clr-sec-white: hsl(var(--clr-sec-white-hsl));
  --gradient-button-hover:
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 5rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit; /*sets all font sizes to 1rem*/
}

img, svg {
  display: block;
  max-width: 100%;
}

.grid-group {
  display: grid;
  align-content: start;
  grid-template-columns: 1fr;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-400);
  color: var(--clr-sec-charcoal-grey);
}

@media (min-width: 600px) {
  .grid-group {
    grid-template-columns: 1fr 1fr;
  }
  body {
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
}
main {
  width: 100%;
}
main .image-content {
  background-image: url("../static/background2.jpeg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(0);
  height: 100vh;
  padding: 1rem 2rem;
  text-align: center;
}
main .image-content img {
  height: 100%;
}
main .image-content header {
  color: white;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .image-content header h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
  margin-bottom: 0.2rem;
  text-shadow: 1px 1px 1px black;
}
main .image-content header h2 {
  font-size: 1rem;
}
main .image-content header button {
  display: none;
  margin-top: 1rem;
  border-radius: 100%;
  padding: 0.5rem 0.5em;
  background-color: transparent;
  border: 3px solid white;
  cursor: pointer;
}
main .image-content header button svg {
  position: relative;
  top: 5px;
}
main .image-content header button:hover, main .image-content header button:focus {
  box-shadow: 1px 1px 10px white;
  background-color: hsla(var(--clr-dark-slate-grey-hsl), 0.3);
}
main .text-content {
  height: 100vh;
  margin: 10% 2rem;
  margin-bottom: 0;
}
main .text-content .logo {
  display: block;
  min-width: 100%;
  display: flex;
  justify-content: center;
}
main .text-content img {
  max-width: 40%;
}
main .text-content form {
  margin: 3rem 0;
  align-items: center;
  border: none;
  min-height: 550px;
}
main .text-content form > * {
  padding-bottom: 0.2rem;
  text-transform: uppercase;
  border-bottom: 0.1rem solid hsla(var(--clr-dark-slate-grey-hsl), 0.3);
  margin-top: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
main .text-content form > * input {
  margin-left: 1rem;
  background: transparent;
  border: none;
  outline: none;
}
main .text-content form .rodo {
  margin-top: 1rem;
  display: block;
  color: hsla(var(--clr-dark-slate-grey-hsl), 0.5);
  border: none;
  font-size: 0.8rem;
}
main .text-content form .rodo input {
  margin: 0;
}
main .button-container {
  text-align: center;
  border: none !important;
}
main .button-container button {
  color: var(--clr-dark-slate-grey);
  background: transparent;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border: 0.1rem solid var(--clr-dark-slate-grey);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
  outline: none;
}
main .button-container button:hover {
  color: white;
  background-color: var(--clr-dark-slate-grey);
  transform: translateY(-1px);
}
main .success {
  margin: 5rem 0;
  text-align: center;
  height: auto;
}
main .success h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
main .success p {
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  header button {
    display: block !important;
  }
}/*# sourceMappingURL=style.css.map */