@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-weight: 400 700;
    src: url('/assets/fonts/Roboto-Regular.ttf')
        format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    font-display: swap;
    font-weight: 400 700;
    src: url('/assets/fonts/Roboto-Bold.ttf')
        format('truetype');
}

:root {
    --clr-primary-hsl: 4, 100%, 67%;

    --clr-dark-slate-grey-hsl: 234, 29%, 20%;
    --clr-sec-charcoal-grey-hsl: 235, 18%, 26%;
    --clr-sec-grey-hsl : 231, 7%, 60%;
    --clr-sec-white-hsl: 0, 0%, 100%;

    --clr-primary: var(--clr-primary-hsl);

    --clr-dark-slate-grey: hsl(var(--clr-dark-slate-grey-hsl));
    --clr-sec-charcoal-grey: hsl(var(--clr-sec-charcoal-grey-hsl));
    --clr-sec-grey: hsl(var(--clr-sec-grey-hsl));
    --clr-sec-white: hsl(var(--clr-sec-white-hsl));

    --gradient-button-hover: 

    --font-family-defualt: 'Roboto', sans-serif;

    --font-family-bold: 'Roboto-bold', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;


    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;

}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit; /*sets all font sizes to 1rem*/
}

img, svg {
    display: block;
    max-width: 100%;
}

.grid-group {
    display: grid;
    align-content: start;
    grid-template-columns: 1fr 1fr;
}

body {
    font-family: var(--font-family-defualt);
    font-size: var(--fs-400);
    color:  var(--clr-sec-charcoal-grey);
}



@media (min-width: 600px) {
    body {
        min-height: 100vh;
        display: grid;
        place-items: center;
    }
}

main{
    width: 100%;
    

    .image-content{
        background-color: green;
        height: 100vh;
    }

    .text-content{
        
        height: 100vh;

        form {

            align-items: center;

            >* {
                display: grid;
                align-content: start;
                grid-template-columns: 1fr 2fr;
                padding-bottom: .2rem;
                text-transform: uppercase;
                border-bottom: .1rem solid 
                    hsla(var(--clr-dark-slate-grey-hsl),.3);
                margin: 1.5rem 2rem;

                input{
                    background: transparent;
                    border: none;
                    outline: none;
                }
            }



            .rodo{
                display: block;
                color: hsla(var(--clr-dark-slate-grey-hsl),.5);
            }

            button {
                ;
            }
        }
    }

}