
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
  <main class="grid-group">

    <section class="image-content">


    </section>

    <section class="text-content">

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        
        <p class="rodo">
          <span><input type="checkbox"></span>
          Rodo </p>

        <button type="submit">Zapisz się</button>
    </form>

    </section>

    
  
  </main>
  
</body>
</html>